@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nimma {
    transition: all 0.4s ease;
    visibility: hidden;
}

.nima:hover~.nimma {
    visibility: visible;
    transition: all 2s ease;
}

.nimma:hover {
    visibility: visible;
}
.gradient-div {
    background: linear-gradient(to bottom right, #FEE9DC 50%, #FDE0CD 50%);
  }
.gradient-svadebnie {
    background: linear-gradient(to bottom right, #FDE0CD 50%,  #FEE9DC 50%);
  }
.gradient-korporativnie {
    background: linear-gradient(to bottom right, #CCEAEB 50%, #B7E1E3  50%);
  }
.gradient-sobrat  {
    background: linear-gradient(to bottom left,#FEDBE1 50%,  #FDCCD4  50%);
  }
.gradient-optovie  {
    background: linear-gradient(to bottom left,#DDDDF3  50%,#CECFEE 50%);
  }
.gradient-individalnoy {
    background: linear-gradient(to bottom left,#C1ECC0  50%,#D3F2D3 50%);
  }
 
 
  